# Исключаем node_modules
node_modules/

# Исключаем логи
npm-debug.log
yarn-debug.log
yarn-error.log

# Исключаем файлы окружения
.env

# Исключаем загруженные файлы (если они не должны быть в репозитории)
server/uploads/

# Исключаем файлы OS
.DS_Store

# Исключаем кэшные файлы
*.cache
