# node_modules
node_modules/
client/node_modules/
server/node_modules/

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Файлы окружения
.env

# Сборки
build/
client/build/
server/build/
dist/
server/dist/

# Загруженные файлы
server/uploads/

# Файлы OS
.DS_Store

# Кэшные файлы
*.cache
/client/build
