.message {
  display: flex;
  align-items: flex-end;
  margin-bottom: calc(var(--index) * .6);
  width: 100%;
}

.message--self {
  justify-content: flex-end;
  background-color: #6a1b9a;
  border-radius: calc(var(--index) * 1);
}

.message--other {
  justify-content: flex-start;
  background-color: rgb(31, 98, 10);
  border-radius: calc(var(--index) * 1);
}

.message__avatar {
  width: calc(var(--index) * 1.8);
  width: calc(var(--index) * 1.8);
  border-radius: 50%;
  margin: calc(var(--index) * .8);
  object-fit: cover;
}

.message__content {
  width: 100%;

  padding: 12px;
  padding-bottom: 18px;
  border-radius: 8px;
  position: relative;
}

.message__username {
  font-weight: bold;
  margin-bottom: calc(var(--index) * .3);
  color: #fff;
}

.message__text {
  color: #fff;
  word-wrap: break-word;
  font-size: calc(var(--index) * .8);
  line-height: calc(var(--index) * 1.2);
}

.message__timestamp {
  position: absolute;
  bottom: 5px;
  right: 12px;
  font-size: calc(var(--index) * .6);
  color: #ccc;
}

.message__delete-button {
  background: transparent;
  border: none;
  color: #ff4d4d;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 4px;
  right: 4px;
}

.message__delete-button:hover {
  color: #ff1a1a;
}
