@import url('../variables/variables.css');

.register-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.register-modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.register-modal__content {
  position: relative;
  background-color: #1c1c2b;
  padding: calc(var(--index) * 2);
  border-radius: 8px;
  width: calc(var(--index) * 30);
  animation: slideDown 0.5s ease-out forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.register-modal__title {
  font-size: calc(var(--index) * 1.2);
  color: var(--color-header);
  margin-bottom: calc(var(--index) * 1);
}
.register-modal__input{
  margin-bottom: calc(var(--index) * 1);
}

.register-modal__content form {
  display: flex;
  flex-direction: column;
}


.register-modal__content input {
  width: 100%;
  margin-bottom: calc(var(--index) * 0.8);
  background-color: #2e2e3e;
  border: 1px solid #6a1b9a;
  border-radius: 8px;
  padding: calc(var(--index) * 0.8);
  color: var(--color-text);
  font-size: calc(var(--index) * 0.7);
  outline: none;
}

.register-modal__content input:focus {
  border-color: #8e24aa;
  background-color: #393950;
}

/* Стили для кнопок */
.register-modal__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: calc(var(--index) * 0.8);
}

.register-modal__buttons button {
  width: 48%;
  background: linear-gradient(135deg, #6a1b9a, #8e24aa);
  border: none;
  border-radius: 8px;
  padding: calc(var(--index) * 0.6) calc(var(--index) * 1);
  color: var(--color-text);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: calc(var(--index) * 0.6);
}

.register-modal__buttons button:hover {
  background: linear-gradient(135deg, #8e24aa, #ab47bc);
}

.register-modal__buttons button:active {
  background: linear-gradient(135deg, #5a148a, #7b1fa2);
  transform: translateY(2px);
}

/* Стили для сообщения об ошибке */
.error {
  color: red;
  margin-bottom: calc(var(--index) * 0.8);
}
