
.login-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}


.login-modal__content {
    display: flex;
    width: calc(var(--index) * 20);
}

.login-modal__button {
    background: linear-gradient(135deg, #6a1b9a, #8e24aa);
    border: none; 
    border-radius: 8px; 
    padding: calc(var(--index) * .6) calc(var(--index) * 1); 
    color: var(--color-text);
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
    cursor: pointer; 
    transition: all 0.3s ease; 
    outline: none; 
    margin-right: calc(var(--index) * .8);
    font-size: calc(var(--index) * .6);
}

.login-modal__button:hover {
    background: linear-gradient(135deg, #8e24aa, #ab47bc); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4); 
}

.login-modal__button:active {
    background: linear-gradient(135deg, #5a148a, #7b1fa2);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); 
    transform: translateY(2px); 
}


.login-modal__input{
    width: 100%;
    margin-bottom: calc(var(--index) * .8);
    background-color: #2e2e3e; 
    border: 1px solid #6a1b9a;
    border-radius: 8px; 
    padding: calc(var(--index) * .8) calc(var(--index) * .8); 
    color: var(--color-text); 
    font-size: calc(var(--index) * .7);
    transition: all 0.3s ease; 
    outline: none; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}

.login-modal__input:focus {
    border-color: #8e24aa; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    background-color: #393950; 
}

.login-modal__input:placeholder {
    color: #b3b3cc; 
    opacity: 1; 
}
/* 
------------- */

.login-modal__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: calc(var(--index) * 0.8);
  }
  
  .login-modal__register-text {
    margin-top: calc(var(--index) * 1);
    text-align: center;
    color: var(--color-text);
  }
  
  .login-modal__register-button {
    background: none;
    border: none;
    color: #6a1b9a;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    font-size: calc(var(--index) * 0.7);
  }
  
  .login-modal__register-button:hover {
    color: #8e24aa;
  }